In [ ]:
! yes| pip install pandas sqlalchemy matplotlib psycopg2-binary

In [135]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [136]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [137]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, distinct,func

Base = automap_base()

In [138]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [139]:
# reflect an existing database into a new model
inspector = inspect(engine)
# reflect the tables
Base.prepare(engine, reflect=True)

In [140]:
# View all of the classes that automap found
inspector.get_table_names()

['measurement', 'station']

In [141]:
# Save references to each table
Measurement = Base.classes.measurement

#print column names
[c.name for c in Measurement.__table__.columns]

['id', 'station', 'date', 'prcp', 'tobs']

In [142]:
# Save references to each table
Station = Base.classes.station

#print column names
[c.name for c in Station.__table__.columns]

['id', 'station', 'name', 'latitude', 'longitude', 'elevation']

In [143]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [144]:
# Find the most recent date in the data set.
measurements = session.query(Measurement).all()
stations = session.query(Station).all()

    
dates = session.query(Measurement.date).all()

query = session.query(Measurement.date).order_by(Measurement.date.desc()).limit(1)

querydates = query[0]
querydates

lastdate = querydates[0]
lastdate

year = int(lastdate [0:4])
year

month = int(lastdate[5:7])
month

day= int(lastdate[8:])
day

23

In [176]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
year_ago = dt.date(year, month, day) - dt.timedelta(days=365)
prcp = session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).filter(Measurement.date >= year_ago).all()
#for p in prcp:
    #print(p)
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column
df= pd.DataFrame(prcp,columns=[c.name for c in Measurement.__table__.columns])
df.set_index("date")

# Sort the dataframe by date
df.sort_values(by = "date",ascending=False)

df2= df[["date","prcp"]]
df2
# Use Pandas Plotting with Matplotlib to plot the data

#plt.bar( x=df["date"], bottom=df["prcp"])
#plt.show()

            date  prcp
0     2016-08-23  0.00
1     2016-08-24  0.08
2     2016-08-25  0.08
3     2016-08-26  0.00
4     2016-08-27  0.00
...          ...   ...
2225  2017-08-19  0.09
2226  2017-08-20   NaN
2227  2017-08-21  0.56
2228  2017-08-22  0.50
2229  2017-08-23  0.45

[2230 rows x 2 columns]

In [146]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [147]:
# Design a query to calculate the total number stations in the dataset
total_stations = session.query(Station.station).count()
total_stations

9

In [148]:
# Query to find the most active stations. List the stations and the counts in descending order.
station_activity_count =(session.query(Measurement.station, func.count(Measurement.station))
                        .group_by(Measurement.station)
                        .order_by(func.count(Measurement.station).desc())
                        .all())
station_activity_count

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [149]:
# most active station id and activity count
most_active =(session.query(Measurement.station, func.count(Measurement.station))
                        .group_by(Measurement.station)
                        .order_by(func.count(Measurement.station).desc())
                        .first())
most_active

('USC00519281', 2772)

In [150]:
# most active station id from the previous query, calculate the lowest, highest, and average temperature.
#set the most active station
most_active = station_activity_count[0][0]

#query for station name
stationname = (session.query(Station.name)
                      .filter_by(station = most_active))
stationname = stationname[0][0]

#query for highest temperature
highesttemp = (session.query(Measurement.tobs)
                      .filter(Measurement.station == most_active)
                      .order_by(Measurement.tobs.desc())
                      .first())
highesttemp = highesttemp[0]

#query for lowest temperature
lowesttemp = (session.query(Measurement.tobs)
                     .filter(Measurement.station == most_active)
                     .order_by(Measurement.tobs.asc())
                     .first())
lowesttemp = lowesttemp[0]

#query for average temperature
avgtemp = (session.query(func.avg(Measurement.tobs))
                  .filter(Measurement.station == most_active))
avgtemp = '{0:.3}'.format(avgtemp[0][0])


#print results as text
print(f"The station with the highest level of recorded activity was {most_active} located at {stationname}.") 
print(f"The station recorded temperatures as low as {lowesttemp} degrees Farenheit and as high as {highesttemp} degrees Farenheit.")
print(f"The average temperature recorded at {stationname} was {avgtemp} degrees Farenheit.")

The station with the highest level of recorded activity was USC00519281 located at WAIHEE 837.5, HI US.
The station recorded temperatures as low as 54.0 degrees Farenheit and as high as 85.0 degrees Farenheit.
The average temperature recorded at WAIHEE 837.5, HI US was 71.7 degrees Farenheit.

In [154]:
#last 12 months of temperature observation data for the most active station id and plot the results as a histogram

temp_hist = (session.query(Measurement.date, Measurement.tobs)
                   .filter(Measurement.station == most_active)
                   .order_by(Measurement.date.desc())
                   .filter(Measurement.date >= year_ago).all())
temp_hist
#results as histogram

[('2017-08-18', 79.0),
 ('2017-08-17', 76.0),
 ('2017-08-16', 76.0),
 ('2017-08-15', 77.0),
 ('2017-08-14', 77.0),
 ('2017-08-13', 77.0),
 ('2017-08-06', 83.0),
 ('2017-08-05', 82.0),
 ('2017-08-04', 77.0),
 ('2017-07-31', 76.0),
 ('2017-07-30', 81.0),
 ('2017-07-29', 82.0),
 ('2017-07-28', 81.0),
 ('2017-07-27', 76.0),
 ('2017-07-26', 75.0),
 ('2017-07-25', 77.0),
 ('2017-07-24', 75.0),
 ('2017-07-23', 82.0),
 ('2017-07-22', 77.0),
 ('2017-07-21', 77.0),
 ('2017-07-20', 77.0),
 ('2017-07-19', 76.0),
 ('2017-07-18', 76.0),
 ('2017-07-17', 76.0),
 ('2017-07-16', 80.0),
 ('2017-07-15', 80.0),
 ('2017-07-14', 76.0),
 ('2017-07-13', 74.0),
 ('2017-07-12', 74.0),
 ('2017-07-11', 72.0),
 ('2017-07-10', 69.0),
 ('2017-07-09', 78.0),
 ('2017-07-08', 78.0),
 ('2017-07-07', 75.0),
 ('2017-07-06', 74.0),
 ('2017-07-05', 77.0),
 ('2017-07-04', 78.0),
 ('2017-07-03', 76.0),
 ('2017-07-02', 81.0),
 ('2017-07-01', 79.0),
 ('2017-06-30', 76.0),
 ('2017-06-29', 76.0),
 ('2017-06-28', 77.0),
 ('2017-06-27', 76.0),
 ('2017-06-26', 73.0),
 ('2017-06-25', 71.0),
 ('2017-06-24', 77.0),
 ('2017-06-23', 72.0),
 ('2017-06-22', 72.0),
 ('2017-06-21', 74.0),
 ('2017-06-20', 72.0),
 ('2017-06-19', 72.0),
 ('2017-06-18', 75.0),
 ('2017-06-17', 79.0),
 ('2017-06-16', 73.0),
 ('2017-06-15', 75.0),
 ('2017-06-14', 74.0),
 ('2017-06-13', 76.0),
 ('2017-06-12', 74.0),
 ('2017-06-11', 74.0),
 ('2017-06-10', 74.0),
 ('2017-06-09', 72.0),
 ('2017-06-08', 75.0),
 ('2017-06-07', 75.0),
 ('2017-06-06', 75.0),
 ('2017-06-05', 75.0),
 ('2017-06-04', 77.0),
 ('2017-06-03', 76.0),
 ('2017-06-02', 76.0),
 ('2017-06-01', 80.0),
 ('2017-05-31', 75.0),
 ('2017-05-30', 72.0),
 ('2017-05-29', 74.0),
 ('2017-05-28', 80.0),
 ('2017-05-27', 74.0),
 ('2017-05-26', 74.0),
 ('2017-05-25', 74.0),
 ('2017-05-24', 74.0),
 ('2017-05-23', 71.0),
 ('2017-05-22', 71.0),
 ('2017-05-21', 74.0),
 ('2017-05-20', 76.0),
 ('2017-05-19', 68.0),
 ('2017-05-18', 69.0),
 ('2017-05-17', 74.0),
 ('2017-05-16', 74.0),
 ('2017-05-15', 74.0),
 ('2017-05-14', 77.0),
 ('2017-05-13', 76.0),
 ('2017-05-12', 75.0),
 ('2017-05-11', 70.0),
 ('2017-05-10', 74.0),
 ('2017-05-09', 67.0),
 ('2017-05-08', 70.0),
 ('2017-05-07', 75.0),
 ('2017-05-06', 79.0),
 ('2017-05-05', 70.0),
 ('2017-05-04', 75.0),
 ('2017-05-03', 70.0),
 ('2017-05-02', 75.0),
 ('2017-05-01', 65.0),
 ('2017-04-30', 60.0),
 ('2017-04-29', 72.0),
 ('2017-04-28', 67.0),
 ('2017-04-27', 70.0),
 ('2017-04-26', 74.0),
 ('2017-04-25', 72.0),
 ('2017-04-24', 68.0),
 ('2017-04-23', 76.0),
 ('2017-04-22', 72.0),
 ('2017-04-21', 69.0),
 ('2017-04-20', 76.0),
 ('2017-04-19', 67.0),
 ('2017-04-18', 68.0),
 ('2017-04-17', 67.0),
 ('2017-04-16', 71.0),
 ('2017-04-15', 78.0),
 ('2017-04-14', 74.0),
 ('2017-04-13', 69.0),
 ('2017-04-12', 69.0),
 ('2017-04-11', 70.0),
 ('2017-04-10', 67.0),
 ('2017-04-09', 78.0),
 ('2017-04-08', 77.0),
 ('2017-04-07', 74.0),
 ('2017-04-06', 67.0),
 ('2017-04-05', 71.0),
 ('2017-04-04', 67.0),
 ('2017-04-03', 70.0),
 ('2017-04-02', 75.0),
 ('2017-04-01', 74.0),
 ('2017-03-31', 71.0),
 ('2017-03-30', 73.0),
 ('2017-03-29', 68.0),
 ('2017-03-28', 74.0),
 ('2017-03-27', 76.0),
 ('2017-03-26', 77.0),
 ('2017-03-25', 76.0),
 ('2017-03-24', 71.0),
 ('2017-03-23', 72.0),
 ('2017-03-22', 73.0),
 ('2017-03-21', 72.0),
 ('2017-03-20', 69.0),
 ('2017-03-19', 74.0),
 ('2017-03-18', 65.0),
 ('2017-03-17', 68.0),
 ('2017-03-16', 66.0),
 ('2017-03-15', 69.0),
 ('2017-03-14', 67.0),
 ('2017-03-13', 66.0),
 ('2017-03-12', 69.0),
 ('2017-03-11', 81.0),
 ('2017-03-10', 66.0),
 ('2017-03-09', 67.0),
 ('2017-03-08', 64.0),
 ('2017-03-07', 62.0),
 ('2017-03-06', 67.0),
 ('2017-03-05', 73.0),
 ('2017-03-04', 77.0),
 ('2017-03-03', 72.0),
 ('2017-03-02', 73.0),
 ('2017-03-01', 71.0),
 ('2017-02-28', 72.0),
 ('2017-02-27', 65.0),
 ('2017-02-26', 67.0),
 ('2017-02-25', 61.0),
 ('2017-02-24', 69.0),
 ('2017-02-23', 71.0),
 ('2017-02-22', 71.0),
 ('2017-02-21', 71.0),
 ('2017-02-20', 70.0),
 ('2017-02-19', 70.0),
 ('2017-02-18', 74.0),
 ('2017-02-17', 70.0),
 ('2017-02-16', 65.0),
 ('2017-02-15', 75.0),
 ('2017-02-14', 79.0),
 ('2017-02-13', 73.0),
 ('2017-02-12', 70.0),
 ('2017-02-11', 68.0),
 ('2017-02-10', 62.0),
 ('2017-02-09', 59.0),
 ('2017-02-08', 59.0),
 ('2017-02-07', 64.0),
 ('2017-02-06', 75.0),
 ('2017-02-05', 73.0),
 ('2017-02-04', 70.0),
 ('2017-02-03', 60.0),
 ('2017-02-02', 59.0),
 ('2017-02-01', 68.0),
 ('2017-01-31', 68.0),
 ('2017-01-30', 68.0),
 ('2017-01-29', 69.0),
 ('2017-01-28', 65.0),
 ('2017-01-27', 66.0),
 ('2017-01-26', 70.0),
 ('2017-01-25', 69.0),
 ('2017-01-24', 72.0),
 ('2017-01-23', 72.0),
 ('2017-01-22', 71.0),
 ('2017-01-21', 71.0),
 ('2017-01-20', 69.0),
 ('2017-01-19', 71.0),
 ('2017-01-18', 72.0),
 ('2017-01-17', 69.0),
 ('2017-01-16', 74.0),
 ('2017-01-15', 70.0),
 ('2017-01-14', 77.0),
 ('2017-01-13', 69.0),
 ('2017-01-12', 65.0),
 ('2017-01-11', 63.0),
 ('2017-01-10', 62.0),
 ('2017-01-09', 62.0),
 ('2017-01-08', 70.0),
 ('2017-01-07', 70.0),
 ('2017-01-06', 62.0),
 ('2017-01-05', 63.0),
 ('2017-01-04', 63.0),
 ('2017-01-03', 64.0),
 ('2017-01-02', 70.0),
 ('2017-01-01', 72.0),
 ('2016-12-31', 67.0),
 ('2016-12-30', 69.0),
 ('2016-12-29', 74.0),
 ('2016-12-28', 72.0),
 ('2016-12-27', 71.0),
 ('2016-12-26', 72.0),
 ('2016-12-25', 74.0),
 ('2016-12-24', 74.0),
 ('2016-12-23', 71.0),
 ('2016-12-22', 73.0),
 ('2016-12-21', 74.0),
 ('2016-12-20', 76.0),
 ('2016-12-19', 76.0),
 ('2016-12-18', 69.0),
 ('2016-12-17', 70.0),
 ('2016-12-16', 75.0),
 ('2016-12-15', 62.0),
 ('2016-12-14', 68.0),
 ('2016-12-13', 65.0),
 ('2016-12-12', 66.0),
 ('2016-12-11', 69.0),
 ('2016-12-10', 69.0),
 ('2016-12-09', 68.0),
 ('2016-12-08', 70.0),
 ('2016-12-07', 69.0),
 ('2016-12-06', 67.0),
 ('2016-12-05', 67.0),
 ('2016-12-04', 70.0),
 ('2016-12-03', 72.0),
 ('2016-12-02', 70.0),
 ('2016-12-01', 74.0),
 ('2016-11-30', 73.0),
 ('2016-11-29', 73.0),
 ('2016-11-28', 75.0),
 ('2016-11-27', 73.0),
 ('2016-11-26', 75.0),
 ('2016-11-25', 74.0),
 ('2016-11-24', 75.0),
 ('2016-11-23', 74.0),
 ('2016-11-22', 75.0),
 ('2016-11-21', 73.0),
 ('2016-11-20', 75.0),
 ('2016-11-19', 73.0),
 ('2016-11-18', 75.0),
 ('2016-11-17', 76.0),
 ('2016-11-16', 75.0),
 ('2016-11-15', 76.0),
 ('2016-11-14', 76.0),
 ('2016-11-13', 77.0),
 ('2016-11-12', 74.0),
 ('2016-11-11', 77.0),
 ('2016-11-10', 67.0),
 ('2016-11-09', 68.0),
 ('2016-11-08', 70.0),
 ('2016-11-07', 63.0),
 ('2016-11-06', 71.0),
 ('2016-11-05', 75.0),
 ('2016-11-04', 75.0),
 ('2016-11-03', 75.0),
 ('2016-11-02', 75.0),
 ('2016-11-01', 74.0),
 ('2016-10-31', 76.0),
 ('2016-10-30', 76.0),
 ('2016-10-29', 77.0),
 ('2016-10-28', 74.0),
 ('2016-10-27', 76.0),
 ('2016-10-26', 73.0),
 ('2016-10-25', 76.0),
 ('2016-10-24', 75.0),
 ('2016-10-23', 74.0),
 ('2016-10-22', 77.0),
 ('2016-10-21', 78.0),
 ('2016-10-20', 78.0),
 ('2016-10-19', 78.0),
 ('2016-10-18', 78.0),
 ('2016-10-17', 77.0),
 ('2016-10-16', 79.0),
 ('2016-10-15', 77.0),
 ('2016-10-14', 79.0),
 ('2016-10-13', 78.0),
 ('2016-10-12', 79.0),
 ('2016-10-11', 77.0),
 ('2016-10-10', 71.0),
 ('2016-10-09', 72.0),
 ('2016-10-08', 73.0),
 ('2016-10-07', 76.0),
 ('2016-10-06', 75.0),
 ('2016-10-05', 79.0),
 ('2016-10-04', 79.0),
 ('2016-10-03', 79.0),
 ('2016-10-02', 79.0),
 ('2016-10-01', 77.0),
 ('2016-09-30', 78.0),
 ('2016-09-29', 78.0),
 ('2016-09-28', 78.0),
 ('2016-09-27', 80.0),
 ('2016-09-26', 77.0),
 ('2016-09-25', 79.0),
 ('2016-09-24', 79.0),
 ('2016-09-23', 78.0),
 ('2016-09-22', 77.0),
 ('2016-09-21', 74.0),
 ('2016-09-20', 76.0),
 ('2016-09-19', 78.0),
 ('2016-09-18', 78.0),
 ('2016-09-17', 79.0),
 ('2016-09-16', 78.0),
 ('2016-09-15', 79.0),
 ('2016-09-14', 75.0),
 ('2016-09-13', 79.0),
 ('2016-09-12', 76.0),
 ('2016-09-11', 80.0),
 ('2016-09-10', 77.0),
 ('2016-09-09', 79.0),
 ('2016-09-08', 80.0),
 ('2016-09-07', 74.0),
 ('2016-09-06', 73.0),
 ('2016-09-05', 78.0),
 ('2016-09-04', 78.0),
 ('2016-09-03', 78.0),
 ('2016-09-02', 80.0),
 ('2016-09-01', 80.0),
 ('2016-08-31', 78.0),
 ('2016-08-30', 77.0),
 ('2016-08-29', 78.0),
 ('2016-08-28', 73.0),
 ('2016-08-27', 75.0),
 ('2016-08-26', 80.0),
 ('2016-08-25', 80.0),
 ('2016-08-24', 77.0),
 ('2016-08-23', 77.0)]

# Close session

In [ ]:
# Close Session
session.close()